  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h2>New user</h2>
<%= form_with model: @user do |form|%>
    <div>
    <%= form.label :username, "Username"%>
    <%= form.text_field :username, value: "MyCoolUserName"%>
    </div>
    <div>
    <%= form.label :email, "Email"%>
    <%= form.email_field :email , placeholder: "example@example.com" %>
    </div>
    <div>
    <%= form.label :password, "Password"%>
    <%= form.password_field :password %>
    </div>
    
    <div><%= form.submit "Submit" %></div>
    
<%end%>
<%# <form action="/users" accept-charset="UTF-8" method="POST"> %>
    <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
    <%# <label for="username">username</label> %>
    <%# <input type="text" name="user[username]" id="username"> %>
    <%# <label for="email">Email</label> %>
    <%# <input type="email" name="user[email]" id="email"> %>
    <%# <label for="password">Password</label> %>
    <%# <input type="password" name="user[password]" id="password"> %>
    <%# <input type="submit" value="Submit"> %>
<%# </form> %>

<%# <%= form_tag("/users", method: :post) do%> 
<%# <%= label_tag(:username, "username")%> 
<%# <%= text_field_tag(:username) %> 
<%# <%= label_tag(:email, "email")%> 
<%# <%= text_field_tag(:email) %> 
<%# <%= label_tag(:password, "password")%> 
<%# <%= password_field_tag(:password) %> 
<%# <%= submit_tag("submit")%> 
<%# <%end%>

